@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Reggae+One&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
   /*sempre resetar os padroes do navegador, pois todos são diferentes.*/
  padding: 0;
  box-sizing: border-box; /*colocar obrigatoriamente no site*/
  font-family: "Russo One", sans-serif;
  
}




main{
margin: 0 auto;
max-width: 1280px; /*definir a largura dentro do body e criar o header para o cabeçalho*/

}
h1#menutopo {
    font-family: 'Russo One', sans-serif;
    font-style: oblique;
    color: white;
    top: -15;
    
}
img.imagem {
    box-shadow: black;
    border-radius: 21px;
    box-shadow: 5px 5px 5px 5px  black; /*sombreamento*/
}
a.voltamenu {
    color: white;
}
div#divtopo {
    background-color: rgb(248, 0, 0);
    position: relative;
    top: -22px;
    left: -8px;   
    width: 101.1%;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
  }
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}

p {
    text-align: justify; /*justificado*/
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px; /*paragráfo*/
    color: rgb(59, 59, 59);
    margin: 10px;
}
body {
    background-color: rgb(230, 231, 248);
}

/*FORMATAÇÃO DO MENU DE NAVEGAÇÃO*/
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute; /*posição fixa*/
    top: 58px; /*altura do menu*/
    
}
/*FORMATAÇÃO DOS ÍTENS DO MENU*/
li {
    padding: 5px; /*espaço entre as linhas*/
    margin: 4px; /*margem entre os menus*/
    transition: background-color 1s;
    text-decoration: black;
    
    
}

.links-pagina {
    display: inline-block;
    font-size: 18px;
    position: relative;
    top: -13px;
    left: -11px;
    
}

/*FORMATAÇÃO DA TRANSIÇÃO DE COR DOS ÍTENS*/
nav#menu li:hover {
    
    text-decoration: underline; /*faz o sublinhado das letras no menu*/
}

/*COR DAS LETRAS DO MENU*/
nav#menu a:hover {
    color: white;
    text-decoration: underline;
}

/*Ocultando menu principal que serve somente para os mecanismos de buscas*/
h1#menuprincipal {
    opacity: 0;
}

li.capacetes{
    float: left;
    margin: 12px;
    box-shadow: 5px 5px 5px 5px  black;
    
}
img#R1{
    max-width: 90%;
    max-height: 90%; 
}


@media (max-width: 1440px) {
    label{
      display: none;
    }
  }
  
  @media (max-width: 1024px) {
    label{
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    label{
      display: none;
    }
  }
  
  @media (max-width: 425px) {
   .links-pagina{
      display: none;
    }
  }
  
  
  @media (max-width: 375px) {
    .links-pagina{
      display: none;
    }
  }
  
  @media (max-width: 320px) {
   .links-pagina{
      display: none;
    }
  }
.menu{
    display: none;
    color: #fff;
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
  }
  
  .menu-item{
    list-style-type: none;
  }
  
  #meuMarcador:checked + .menu{
    display: block;
  }
  
  #meuMarcador{
    opacity: 0;
    
  }
    
