@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Reggae+One&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

img.imagem {
    box-shadow: black;
    border-radius: 21px;
    box-shadow: 5px 5px 5px 5px  black; /*sombreamento*/
}
li.capacetes{
    float: left;
    margin: 12px;
    box-shadow: 5px 5px 5px 5px  black;
    
}
img#R1{
    max-width: 90%;
    max-height: 90%; 
}
  @media (max-width: 1024px) {
    label{
      display: none;
    }
  }
  
  @media (max-width: 425px) {
   .links-pagina{
      display: none;
    }
  }
  