@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Reggae+One&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*{
     /*sempre resetar os padroes do navegador, pois todos são diferentes.*/
    padding: 0;
    box-sizing: border-box; /*colocar obrigatoriamente no site*/
    font-family: "Russo One", sans-serif;
    
}
/*----------------------------------------menu hamburguer----------------------------------*/
.listahamburguer{
  display: none;
  color: #fff;
  background-color: #252525;
  margin: 0;
  padding: 10px;
}

.menu-item{
  list-style-type: none;
}

#menuHamburguer:checked + .listahamburguer{
  display: block;
}

#menuHamburguer{
  opacity: 0;
}

/*----------------------------------------menu hamburguer----------------------------------*/

main{
  margin: 0 auto;
  max-width: 1280px; /*definir a largura dentro do body e criar o header para o cabeçalho*/
  
}

h1#menutopo {
  font-family: 'Russo One', sans-serif;
  font-style: oblique;
  color: white;
  margin-left: 10px;
  
}

div#divtopo {
  background-color: rgb(248, 0, 0);
  
  
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
h1,
h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;

}
ul, ol, li{
    list-style: none;/*resetando os padroes de listas, obrigatorio.*/
    list-style-type: none;
}
p {
  text-align: justify; /*justificado*/
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 20px; /*paragráfo*/

  margin: 10px;
}
body {
  background-color: #f7f7f7;
}
iframe {
    width: 300px;
    height: 180px;
  border-radius: 6px;
  
  appearance: none;
}
/*FORMATAÇÃO DO MENU DE NAVEGAÇÃO*/
nav#menu ul {
  
  text-transform: uppercase;
  position: absolute; /*posição fixa*/
  top: 52px; /*altura do menu*/
   /*margem esquerda*/
}
/*FORMATAÇÃO DOS ÍTENS DO MENU*/
li {
  padding: 5px; /*espaço entre as linhas*/
  margin: 4px; /*margem entre os menus*/
  transition: background-color 1s;
  text-decoration: black;
}

.links-pagina {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -13px;
  
}

/*FORMATAÇÃO DA TRANSIÇÃO DE COR DOS ÍTENS*/
nav#menu li:hover {
  text-decoration: underline; /*faz o sublinhado das letras no menu*/
  
}

/*COR DAS LETRAS DO MENU*/
nav#menu a:hover {
  color: white;
  text-decoration: underline;
}

/*Ocultando "menu principal" que serve somente para os mecanismos de buscas*/
h1#menuprincipal {
  opacity: 0;
}

/*aqui entra a responsividade do vídeo na tela inicial*/
@media (max-width: 1440px) {
  iframe#introducao {
    width: 800px;
    height: 460px;
  }
  
}

@media (max-width: 1024px) {
  iframe#introducao {
    width: 800px;
    height: 460px;
  }
  
}
@media (min-width: 768px){
  label{
    display: none;
  }
}
@media (max-width: 768px) {
  iframe#introducao {
    width: 560px;
    height: 320px;
  }
  
}

@media (max-width: 425px) {
  iframe#introducao {
    width: 410px;
    height: 235px;
  }
  
  .links-pagina{
    display: none;
  }
}


@media (max-width: 375px) {
  iframe#introducao {
    width: 370px;
    height: 220px;
  }
  .links-pagina{
    display: none;
  }
}

@media (max-width: 320px) {
  iframe#introducao {
    width: 300px;
    height: 180px;
  }
  .links-pagina{
    display: none;
  }
}

.menu{
  display: none;
  color: #fff;
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
}

.menu-item{
  list-style-type: none;
}

#meuMarcador:checked + .menu{
  display: block;
}

#meuMarcador{
  opacity: 0;
  
}