@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Reggae+One&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

*{
    margin: 0; /*sempre resetar os padroes do navegador, pois todos são diferentes.*/
    padding: 0;
    box-sizing: border-box; /*colocar obrigatoriamente no site*/
    font-family: "Russo One", sans-serif;
    max-width: 1024px; /*definir a largura dentro do body e criar o header para o cabeçalho*/
    
}

h1#menutopo {
  
  font-style: oblique;
  color: white;
  
  
}

div#divtopo {
  background-color: rgb(248, 0, 0);
  
  
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  
}
h1,
h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;

}
ul, ol, li{
    list-style: none;/*resetando os padroes de listas, obrigatorio.*/
    list-style-type: none;
}
p {
  text-align: justify; /*justificado*/
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 20px; /*paragráfo*/

  margin: 10px;
}
body {
  background-color: #f7f7f7;
}
iframe {
    width: 300px;
    height: 180px;
  border-radius: 6px;
  
  appearance: none;
}
/*FORMATAÇÃO DO MENU DE NAVEGAÇÃO*/
nav#menu ul {
  
  text-transform: uppercase;
  position: absolute; /*posição fixa*/
  top: 52px; /*altura do menu*/
  left: ; /*margem esquerda*/
}
/*FORMATAÇÃO DOS ÍTENS DO MENU*/
li {
  padding: 5px; /*espaço entre as linhas*/
  margin: 4px; /*margem entre os menus*/
  transition: background-color 1s;
  text-decoration: black;
}

.links-pagina {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -13px;
  
}

/*FORMATAÇÃO DA TRANSIÇÃO DE COR DOS ÍTENS*/
nav#menu li:hover {
  text-decoration: underline; /*faz o sublinhado das letras no menu*/
  
}

/*COR DAS LETRAS DO MENU*/
nav#menu a:hover {
  color: white;
  text-decoration: underline;
}

/*Ocultando "menu principal" que serve somente para os mecanismos de buscas*/
h1#menuprincipal {
  opacity: 0;
}

@media (max-width: 320px) {
  iframe#introducao {
    width: 300px;
    height: 180px;
  }
}
@media (max-width: 375px) and (min-width: 320px) {
  iframe#introducao {
    width: 350px;
    height: 200px;
  }
}
